@model Quiz2Fix.Entities.Student

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
