@model IEnumerable<Quiz2Fix.Entities.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week10)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week10)
            </td>
            <td>




                @Html.ActionLink("Edit", "Edit", new { Id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { Id = item.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { Id = item.Id }, new { @class = "btn btn-danger" })

             
                


            </td>
        </tr>
    }

    

</table>
